.sticky-nav {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.nav-list-item {
  border: solid 0.17rem;
  margin-right: 0.5rem;
  border-color: #32281e;
  background-color: #f1f2ec;
}

.nav-list-link {
  display: block;
  width: 100%;
  padding: 0.2rem 0;
}

.nav-grid {
  display: grid;
  grid-template-columns: auto repeat(3, auto);
}

.nav-list-item {
  text-align: center;
}

.nav-list-color {
  color: #32281e;
}

.active {
  color: #f7f3f0;
  display: flex;
  justify-content: center;
  background-color: #32281e;
}

.nav-list-icon {
  height: 1.25rem;
}

@media only screen and (min-width: 40rem) {
  .sticky-nav {
    width: 25rem;
  }
}

@media only screen and (min-width: 70rem) {
  .sticky-nav {
    width: 15rem;
    bottom: 2rem;
    left: 2rem;
  }
}
