.sticky-nav {
  position: fixed;
  width: 15rem;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}

.nav-list-item {
  margin-right: 0.5rem;
}

.nav-list-link {
  border: solid 0.05rem;
  border-radius: 1.5rem;
  border-color: #2c2c2c;
  background-color: #f1f2ec;
}

.nav-list-link:hover {
  background-color: #bcbcbc;
  color: #2c2c2c;
  transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.nav-list-link {
  display: block;
  padding: 0.5rem 0.5rem;
  width: 100%;
}

.nav-list-home {
  padding: 0.5rem 0.8rem;
}

.nav-grid {
  display: grid;
  grid-template-columns: auto repeat(3, auto);
}

.nav-list-item {
  text-align: center;
}

.nav-list-color {
  color: #2c2c2c;
}

.active {
  color: #f7f3f0;
  border-color: #2c2c2c;
  display: flex;
  justify-content: center;
  background-color: #2c2c2c;
  border-radius: 1.5rem;
  transition: background-color 1s cubic-bezier(0.2, 1, 0.3, 1);
}

.nav-list-icon {
  height: 1.25rem;
}

@media only screen and (min-width: 40rem) {
  .sticky-nav {
    width: 15rem;
    bottom: 2rem;
    left: 2rem;
    transform: none;
  }
}

@media only screen and (min-width: 70rem) {
}
