.selected-works-page {
  padding: 1rem;
}

.selected-works-list-item {
  cursor: pointer;
}

.selected-works-page {
  padding-bottom: 6rem;
}

@media only screen and (min-width: 40rem) {
}

@media only screen and (min-width: 70rem) {
}
