.selected-works-wrapper {
  /* max-width: 1200px; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 2rem 7rem;
}

.selected-works-list-item {
  cursor: pointer;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.slider-wrapper {
  height: 80vh;
  width: 100%;
  position: relative;
}

.slider {
  height: 100%;
  width: 100%;
  display: flex;
  /* scroll-behavior: smooth; */
  overflow: hidden;
  border-radius: 0.5rem;
}

.slide {
  height: 100%;
  width: 100%;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
}

.selected-work-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.project-overlay-text,
.image-slider-left-arrow,
.image-slider-right-arrow {
  position: absolute;
  z-index: 1;
}

.project-overlay-text {
  top: 2rem;
  left: 1rem;
}

.overlay-text-colour {
  color: white;
}

.image-slider-left-arrow,
.image-slider-right-arrow {
  cursor: pointer;
  border: 0.2rem solid;
  border-radius: 1.5rem;
  background-color: white;
  border-color: white;
  opacity: 0.4;
}

.image-slider-left-arrow {
  left: 1rem;
  bottom: 50%;
  color: #542316;
}

.image-slider-right-arrow {
  right: 1rem;
  bottom: 50%;
  color: #542316;
}

.image-slider-left-arrow:hover,
.image-slider-right-arrow:hover {
  color: #2c2c2c;
  /* border-color: #2c2c2c; */
  background-color: white;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 1;
}

@media only screen and (min-width: 40rem) {
  .project-overlay-text {
    top: 4rem;
    left: 4rem;
  }

  .image-slider-left-arrow {
    left: 4rem;
    bottom: 50%;
    color: #542316;
  }

  .image-slider-right-arrow {
    right: 4rem;
    bottom: 50%;
    color: #542316;
  }
}

@media only screen and (min-width: 70rem) {
}
