@font-face {
  font-family: TRJND;
  src: url(./assets/fonts/TRJND-font/TRJNDaVinci-Regular-Trial.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

p,
h1,
h2,
h3,
a,
small {
  color: #2c2c2c;
  font-family: Rag;
  font-weight: 400;
  font-style: normal;
}

p {
  line-height: 1.2rem;
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

a {
  cursor: pointer;
}

@media only screen and (min-width: 40rem) {
  p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 70rem) {
}
