@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
@import url("https://use.typekit.net/xms2rkt.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 0.8rem;
}

p,
h1,
h2,
h3,
a,
small {
  color: #542316;
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
li,
ul {
  text-decoration: none;
  list-style: none;
}

a {
  cursor: pointer;
}

.selected-works-page,
.about-page,
.extras-page {
  padding: 5rem 1rem;
}

@media only screen and (min-width: 40rem) {
  p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 70rem) {
}
